body {
    text-align: center;
}

h1 {
    margin: 10px auto;
}

#overview {
    margin: 10px auto 20px;
    line-height: 80%;
}

#you {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: greenyellow;
}

#enemy {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: red;
}

#score {
    font-size: 2em;
    margin: 10px auto;
}

#gameset {
    font-size: 1.5em;
    margin: 10px auto;
}